/* :first-of-type: 셀렉트된 부모요소들의 자식요소 중 첫째 선택*/
/* :last-of-type: 셀렉트된 부모요소의 자식들 중 막내 선택 */
/* :nth-of-type(n): 셀렉트된 부모요소의 자식들 중 n번째 자식*/
/* :nth-last-of-type(n): 셀렉트된 부모요소의 자식들 중 n번째 자식*/

/* p의 형제들 중 가장 먼저나오는 p*/
p:first-of-type {
    color: red;
}

/*p의 형제들 중 가장 마지막인 형제 선택*/
/*p의 부모의 자식 중 마지막에 등장하는 p의 요소 선택*/
p:last-of-type {
    color: red;
}

/*p의 부모의 자식 중 앞에서 2번째 등장하는 p의 요소 선택*/
p:nth-of-type(2) {
    color: red;
}


/*p의 부모의 자식 중 뒤에서 2번째에 등장하는 p의 요소 선택*/
p:nth-last-of-type(2) {
    color: red;
}

/* 정합성 체크 셀렉터*/
/* input 인증성공*/
/* :valid, :invalid */

input[type="text"]:valid{
    background-color:greenyellow
}

input[type="text"] invalid{
    background-color: red;
}

/* 가상 요소 셀렉터 */
/* ::first-letter: 첫글자를 선택*/
/* ::first-line: 첫줄을 선택해 블록으로 적용*/
/* ::after: 뒤에 */
/* ::before: 앞에*/
/* ::selection: */
